[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Fraguinha/nvim
[submodule ".config/karabiner"]
	path = .config/karabiner
	url = https://github.com/Fraguinha/karabiner
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/Fraguinha/wezterm
[submodule "systemd"]
	path = systemd
	url = git@github.com:Fraguinha/systemd.git
[submodule ".config/systemd"]
	path = .config/systemd
	url = git@github.com:Fraguinha/systemd.git
